<div class="user-card bg-clr-dark-blue bg-img">
    <div class="user-name">
        <span>John Doe</span>
    </div>
    <div class="user-info">
        <span class="small-font">New MRR</span>
        <span class="big-font">5230</span>
    </div>
    <div class="user-info">
        <span class="small-font">New Logos</span>
        <span class="big-font">102</span>
    </div>
    <div class="user-info">
        <span class="small-font">Demo Calls</span>
        <span class="big-font">30</span>
    </div>
</div>
<div class="user-card bg-clr-dark-blue">
    <div class="user-name">
        <span>Jane Smith</span>
    </div>
    <div class="user-info">
        <span class="small-font">New MRR</span>
        <span class="big-font">4586</span>
    </div>
    <div class="user-info">
        <span class="small-font">New Logos</span>
        <span class="big-font">95</span>
    </div>
    <div class="user-info">
        <span class="small-font">Demo Calls</span>
        <span class="big-font">23</span>
    </div>
</div>
<div class="user-card bg-clr-dark-blue">
    <div class="user-name">
        <span>Ethan Hunt</span>
    </div>
    <div class="user-info">
        <span class="small-font">New MRR</span>
        <span class="big-font">3500</span>
    </div>
    <div class="user-info">
        <span class="small-font">New Logos</span>
        <span class="big-font">82</span>
    </div>
    <div class="user-info">
        <span class="small-font">Demo Calls</span>
        <span class="big-font">10</span>
    </div>
</div>