<div class="row padding-20-0">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <div class="float-left col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <a class="navbar-brand">
                <img alt="Locusnine-Logo" src="assets/images/logo.png" height="auto" width="50%">
            </a>
        </div>
        <div class="float-right text-align-right col-md-6 col-lg-6 col-xs-6 col-sm-6 padding-t-20">
            <span class="sales-header">SALES DASHBOARD</span>
        </div>
    </div>
    <div>
        <app-sales-navbar></app-sales-navbar>
    </div>
</div>