//color
$light-blue: #EFF3F6;
$blue: #2196F3;
$dark-blue: #1976D2;
$faint-blue: #64B5F6;
$light-gray: #f8f9fb;
$gray: #e4e8ec;
$light-green : #e6f5e6;
$light-red: #fff2f2;
$dark: #231f20;
$white: #ffffff;
$cyan-blue: #2c3e50;
